@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap') ;

:root {
    --primary-color: #0077FF;
    --secondary-color: #213F65;
    --accent1-color: #87BF69;
    --accent2-color: #3B5741;
    --font-family:'Lato', sans-serif;
    --heading-color: #2980B9; 
    --paragraph-color: #2C3E50;
    
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    
    
  }
  
  h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    padding: 20px 0;
    text-shadow: 3px 3px 1px rgb(160, 158, 158);
  }

 
  p {
    line-height: 1.6;
    padding: 10px;
  }
  
  
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  
    
}

nav a {
    color: rgb(43, 101, 187);
    padding: 1rem;
    text-decoration: none; 
    display: block;
	  list-style: none;
    width: 256px;
    
  }



  
  header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    
  }

  
  
  footer {
    background-color:#e7dfdf ;
    color: rgba(12, 11, 11, 0.89);
    padding: 20px;
    border-top: 1px solid black;
    margin: 1rem auto;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    gap: 700px;  /* Espacio entre las imágenes */
    
}

footer p {
    margin: 0;
    
    
}

  .social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .social-icons img {
    width: 30px;
    height: auto;
  }

  .hero {
    position: relative;
  
    
    
  }
  
  .hero img {
    position: relative;
    width: 600px;
    height: 300px;
  }

  
  .hero h2 {
    position: relative;
    margin-top: 0%;
    left: -70%;
    color: rgb(255, 255, 255);
    text-align:center;
    font-size: 20px;
    border: none;
    width: 70px;
    
  }
  
  .hero article {
    display: flex;
    flex-direction:row-reverse;
    background-color:#536651;
    padding: 20px;
    color: white;
    opacity: 0.8;
    
  }

  .hero p {
    text-align: start;
    margin-top: 5%;
  }

  

 .adventures {
  display: flex; 
  justify-content:center; 
  align-items: center; 
  flex-wrap: wrap; 
}



.adventure-item {
  width: auto; 
  margin: 10px;  
}

.adventure-item img {
  width: 100%; 
  height: auto;
}

.adventure-item {
  text-align: center; 
  margin-top: 10px;  
}


figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

.img-history {
  max-width: 220px;
  max-height: 150px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

h1 {
  position:relative;
  text-align: center;
  right: 900px;
}



