
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }

  :root {
    --primary-color: #4E96AF;
    --secondary-color: #204051;
    --accent-color: #FFD166;
    --additional-accent-color: #EF476F;
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --navigation-background-color: #333333;
    --navigation-link-color: #FFFFFF;
    --navigation-hover-link-color: #FFD166;
    --navigation-hover-background-color: #204051;
  }

  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  header {
    padding: 20px;
    background-color: var(--secondary-color);
  }
  
  p {
    padding: 20px;
  }

  nav {
    background-color: var(--navigation-background-color);
    font: size 1.2em;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
  }

  nav a:link, nav a:visited {
    color: var(--navigation-link-color);
  }
  
  nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
  }
  
  