@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1 {
    font-family: 'Rock Salt', 'Bradley Hand', cursive;
}

  :root {
    --primary-color: #0077FF;
    --secondary-color: #213F65;
    --accent-color: #87BF69;
    --additional-accent-color: #3B5741;
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --navigation-background-color: #333333;
    --navigation-link-color: #FFFFFF;
    --navigation-hover-link-color: #FFD166;
    --navigation-hover-background-color: #204051;
  }


  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  header {
    padding: 25px;
    background-color: var(--primary-color);
  }
  
  p {
    padding: 25px;
  }

  nav {
    background-color: var(--navigation-background-color);
    font: size 1.2em;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
  }

  nav a:link, nav a:visited {
    color: var(--navigation-link-color);
  }
  
  nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
  }
 
  