@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6u-w4BMUTPHjxsIPx-mPCLQ7A.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

:root {
    --primary-color: #5ca8ff;
    --secondary-color: #213F65;
    --accent-color: #87BF69;
    --additional-accent-color: #3B5741;
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --navigation-background-color: #333333;
    --navigation-link-color: #FFFFFF;
    --navigation-hover-link-color: #FFD166;
    --navigation-hover-background-color: #204051;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }
  
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color:var(--navigation-background-color);
}

  h1 {
    font-family: 'reboto', 'Bradley Hand';
}



header {
    padding: 20px;
    background-color: var(--primary-color);
}
  
p {
    padding: 25px;
}

nav {
    background-color: var(--navigation-background-color);
    font-size: 1.2em;
    display: flex;
}
  
nav a {
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--navigation-link-color);
}
  
nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
}
 
  