body {
    background-color: #1E1E1E;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.player {
    background-color: #2A2A2A;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 350px;
    text-align: center;
}

.album-art img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.track-info h3 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.track-info p {
    font-size: 14px;
    color: #BBB;
    margin: 0;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.btn {
    background-color: #FF6F61;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FF8A70;
}

#seek-slider {
    width: 100%;
    margin: 10px 0;
}

#current-time, #duration {
    font-size: 12px;
}

.volume-controls {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#volume-icon {
    width: 50px;
    margin-right: 10px;
}

#volume-slider {
    width: 100%;
    margin-top: 15px;
}

.file-controls {
    margin-top: 20px;
}

.file-controls #open-file {
    background-color: #4CAF50;
}

.file-controls #open-file:hover {
    background-color: #45A049;
}
